<div class="page-container">
    <div class="item-card">
        <div class="card-body">
            <h2 class="item-title"> {{ trip.title }} </h2>
            <p class="item-sku"> {{ trip.description }}</p>
            <p class="item-description"> Ticker: {{ trip.ticker }}</p>
            <p class="item-price">
                <strong>Price:</strong> {{ trip.price }} EUR
            </p>
            <p class="item-description"> Difficulty: {{ trip.difficulty }}</p>
            <p class="item-description"> Max participants: {{ trip.maxParticipants }}</p>
            <div class="comments-section">
                <h4>Duration</h4>
                <ul>
                    <strong>From:</strong> {{ trip.startDate }} to {{trip.endDate}}
                      ( {{ duration }} hours )
                    
                </ul>
            </div>
        </div>
    </div>

</div>