<mat-toolbar color="primary" class="px-8 flex justify-between shadow-md">
  <div class="flex items-center gap-3">
    <img src="/favicon.ico" alt="Acme Explorer logo" class="w-8 h-8" />
    <a mat-button routerLink="/trips" class="text-base font-semibold hover:opacity-90">
      Acme Explorer
    </a>
  </div>

  <div class="flex items-center gap-4 text-base font-medium">
    <a mat-button routerLink="/trips">{{ 'header.trips' | translate }}</a>
    @if (currentRole() === 'explorer'){
      <a mat-button routerLink="/applications">{{ 'header.applications' | translate }}</a>
      <a mat-button routerLink="/finder">{{ 'header.finder' | translate }}</a>
      <a mat-button routerLink="/favourites">{{ 'header.favourites' | translate }}</a>
    }
    <a mat-button routerLink="/settings">{{ 'header.settings' | translate }}</a>
    @if (currentRole() === 'administrator') {
      <button mat-button [matMenuTriggerFor]="adminMenu">{{ 'header.admin' | translate }}</button>
      <mat-menu #adminMenu="matMenu">
        <a mat-menu-item routerLink="/admin/dashboard">{{ 'header.dashboard' | translate }}</a>
        <a mat-menu-item routerLink="/admin/users">{{ 'header.users_list' | translate }}</a>
        <a mat-menu-item routerLink="/admin/create-manager">{{ 'header.create_manager' | translate }}</a>
      </mat-menu>
    }
  </div>

  <div class="flex items-center gap-4 text-sm font-medium">
    <button mat-button type="button" (click)="languageService.switchLanguage()">
      {{ 'language.switch' | translate }}
    </button>
    @if (currentUser()) {
      <button mat-button type="button" (click)="logout()">{{ 'header.logout' | translate }}</button>
    } @else {
      @if (router.url !== '/login') {
        <button mat-button type="button" (click)="goToLogin()">{{ 'header.login' | translate }}</button>
      }
      @if (router.url !== '/register') {
        <a mat-raised-button routerLink="/register" color="primary">{{ 'header.register' | translate }}</a>
      }
    }
  </div>
</mat-toolbar>
